doctype html
html
	head
		meta(charset='UTF-8')    
		title Look4.me    
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')    
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')    
		link(rel='shortcut icon', href='favicon.png')
		link(rel='stylesheet', href='/css/bootstrap.min.css')        
		link(rel='stylesheet', href='/css/animate.css')    
		link(rel='stylesheet', href='/css/font-awesome.min.css')    
		link(rel='stylesheet', href='/css/slick.css')    
		link(rel='stylesheet', href='/js/rs-plugin/css/settings.css')    
		link(rel='stylesheet', href='/css/styles.css')
	body
		block content
	include ../includes/scripts
	block custom-scripts
