script(type='text/javascript', src='/js/modernizr.custom.32033.js')
script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')       
script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
script(src="/js/jquery-1.11.1.min.js")
script(src="/js/bootstrap.min.js")
script(src="/js/slick.min.js")
script(src="/js/placeholdem.min.js")
script(src="/js/rs-plugin/js/jquery.themepunch.plugins.min.js")
script(src="/js/rs-plugin/js/jquery.themepunch.revolution.min.js")
script(src="/js/waypoints.min.js")
script(src="/js/scripts.js")